body {
    padding: 0px;
    margin: 0px;
    background-color:#00ffba;
}
.starter {
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/hubbleimage1p1611a1r.jpg");
    display: flex;
    height:-webkit-fill-available;
    flex-direction: column;
    align-content: center;
}
.wrapper {
	  display: flex;
	  flex-direction: column;
}
.footer{
	height: 30px;
	font-size: .8em;
	color:#404040;
	line-height: 3eml
}

.footer a{
	color:#404040;
  }
h1 {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1000;
	padding-top: 50px;
	color: #FF5722;
}
svg {
	display: none;
}

img {
   align-self: center;
   animation: alien 12s infinite;
   width: 300px;
   padding-top: 40px;
}

.th{
	width: 50%;
	background-color: coral;
	 align-self: center;
	 margin-top: 70px;
}
p {
	padding: 0 20px;
}

#content{
	display: flex;
    flex-direction: column;
    align-content: center;
}

#section {
	display: flex;
	justify-content: center;
}
#target{
  width: 0px;
  height: min-content;
  position: absolute;
  bottom: 200px;
}

.sections_Title{
	overflow: hidden;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	list-style: none;
	display: flex;
	justify-content: center;
	font-family: cursive;
	text-transform: uppercase;
	color: #FF5722;
	background-color: #fbe204;
	font-size: 1.5em;
	border-radius: 5px;
	border-style: double;}

.sections_Title li{
	padding: 0 12px;
	font-weight: 900;
	line-height: 4em;
	font-size: .8em;
}
.selectedTitle {
	color: #9C27B0;

}

.name {
  font-family: cursive;
  font-weight: 900;
  color: #00ffbf;
  font-size: 8em;
  align-self: center;
  text-shadow: 3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

@keyframes alien {
  0%  {filter:hue-rotate(13deg) contrast(200%);}
  25%   {filter:hue-rotate(1333deg) contrast(200%);}
  50%    {filter:hue-rotate(133deg) contrast(200%);}
  100%   { filter:hue-rotate(2000deg) contrast(200%);}
}