.header {
  height: 300px;
  position: relative;
  background-color: #CC4E5F;
}
h1 {
  position: absolute;
  text-align: center;
  color: white;
  font-size: 8em;
  font-family: 'Nunito', sans-serif;
  width: 100%;
  font-weight: 300;
  top: -20px;
  left: 15px;
}
svg {
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
}
.th span{
font-style: italic;
font-weight: bolder;
}
.th {
font-weight: 100;
flex-direction: column;
align-items: center;
}
.th * {
 width: 700px;
}
.th>p {
font-weight: 100;
padding: 50px;
font-size: .9em;
line-height: 1.35em;
display: flex;
}
.th>ul {
line-height: 3em;
padding-bottom: 50px;
}
.th>ul>li>ul{
font-weight: 100;
line-height: 2em;
font-size: .9em;
}
#section {
 padding-top: 50px;
 display: flex;
 justify-content: center;
}
.footer{
  height: 50px;
  background-color: #CC4E5F;
  font-size: .8em;
  color: #e4e4e4;;
  padding-top: 2%;
  padding-left: 1%;
 }

.footer a{
  color: #e4e4e4;;
}

#target{
  width: 0px;
  height: min-content;
  position: absolute;
  bottom: 60px;
}
body{
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  line-height: normal;
  letter-spacing: 2px;
  padding-top: -10;
  margin:0px;
  padding: 0px;
}
.sections_Title{
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.sections_Title li{
padding: .75%;
margin: 20px;
white-space: nowrap;
cursor: pointer;

}
.photo{
  width: fit-content;
  align-self: center;
}

img {
  width: 130px;
  align-self: center;
  padding-top: 20px;
}
.name {
color:#695f61;
font-size: 2em;
align-self:center;
padding-top: 20px;
padding-bottom: 20px;
}
.starter{
display: flex;
flex-direction: column;
align-content: center;
font-size: .8em;
top: 100px;
width: 100%;
}
.exclaim{
  font-size: 4em;
  color:white;
}
.sections_Titles{
  position: relative;
  display: inline-block;
}
.sections_Titles::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.sections_Titles::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.sections_Titles::before {
  animation: crossbut 3s;
  border-bottom: 1px solid #CC4E5F;
  transform: skewY(-10deg) translateY(-20px);
}
.sections_Titles::after {
  animation: crosstop 3s;
  border-top: 1px solid #CC4E5F;
   transform: skewY(10deg) translateY(50%);
}
.selectedTitle.sections_Titles::after {
  animation: uncrosstop 3s;
  border-top: 1px solid #CC4E5F;
  transform: skewY(0deg) translateY(0px);
}
.selectedTitle.sections_Titles::before {
  animation: uncrossbut 3s;
  border-bottom: 1px solid #CC4E5F;
  transform: skewY(0deg) translateY(0px);
}
@keyframes crosstop {
0% {transform: skewY(0) translateY(0);}
100% {transform: skewY(10deg) translateY(50%);}
}
@keyframes crossbut {
0% {transform: skewY(0) translateY(0);}
100% {transform: skewY(-10deg) translateY(-20px);}
}
@keyframes uncrosstop {
0% {transform: skewY(10deg) translateY(50%);}
100% {transform: skewY(0) translateY(0);}
}
@keyframes uncrossbut {
0% {transform:skewY(-10deg) translateY(-20px);}
100% {transform: skewY(0) translateY(0);}
}